@charset "utf-8";

.menu{
    list-style: none;
    margin: 30px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 960px;
}



li+ li {
    border-left: 1px solid #333;
    
}
